/* Copyright Chuong Vu */
/* This tag is for the html and body with background color */
html, body {
    /*background-color: #b0c4de;*/
    font-family: 'Josefins Sans', sans-serif;
    height: 100%;
    padding: 0;
    border: 0;

}

/* For header use with backgound image */
#header-container{
    width: 100%;
	height: 85px;
    background-position: center;
	background-repeat: no-repeat;
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* background-size: cover; */
    /*background-color: white;*/
	/*text-align:center;*/
    /*padding-left: 6%;*/
    /*padding-right: 6%;*/
}

#header-box {
    padding-left: 15%;
    padding-right: 15%;
    text-align:center;
}



.text-center{
	text-align:center;
}

.logo {
	float: left;
    display: inline;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
	/* background-color: blue; */
}

.logo-img {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    /* margin-top: 10px;    /* if you want it vertically middle of the navbar. */
}

.navigation {
	float: right;
	display: inline;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    /* background-color: green; /* change to desired color */
	/* display: inline; */
}

.navigation-bar > a {
	font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}


/*Start Search Bar*/
#search-div {
    padding-top: 1%;
    width: 100%;
	height: 200px;
    background-position: center;
	background-repeat: no-repeat;
    color:white;
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* background-size: cover; */
	background-color: #89D8B4;
}

.search-inner {
    padding: 10%;
}

form {
    margin:auto;
}

.search-bar{
    width: 50%;
    height: 30px;
}

.search-height {
    height: 35px;
}

.search {
    /*padding:8px 15px;*/
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}

.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
/*End Search bar*/


/*Feature List Start*/
#features-list {
    padding-top: 10px;
    padding-left: 17%;
    padding-right: 17%;
}

#site-container, .ht-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 3%;
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 10px 0;
}

.column {
    flex: 1;
	/*border: 1px solid gray;*/
    display: table-cell;
    margin: 15px;

}





/*Feature List End*/

/*About Helpdesk*/

#about-helpdesk {
    background-color: bisque;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

.feature-icon img {
    height: 100px;
}

.news-list {
    padding-left: 25%;
}

.news-list li {
    margin: 5px 0;
}

.ul-style-none {
    list-style-type: none;
}
/*End About Helpdesk*/


/*footer tag in web*/
#footer {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2px;
	font-style: italic;
	margin: auto;
	font-weight: bold;
    color: white;
    background-color: #2A2C2A;
}





